# image: ultravideo/uvgvpccenc-ci-base

# # Build and test uvgVPCCenc
# test-uvgvpcc: &test-template
#   stage: test
#   script:
#     - export PATH="${HOME}/bin:${PATH}"
#     - cmake --preset=CI
#     - cmake --build --preset=CI
#     - ctest --preset=CI-ci-long-default
#   artifacts:
#     paths:
#     - _build/CI/src/app/uvgVPCCenc
#     - _build/CI/Testing/Temporary/CTestCostData.txt
#     - _build/CI/Testing/Temporary/LastTest.log
#     - _build/CI/bitstream/long_default_ReadyForWinter_vox9_AI_16-22-2_fast_true_2t_1l_1n.vpcc
#     - _build/CI/bitstream/long_default_ReadyForWinter_vox9_RA_32-42-4_slow_true_2t_1l_1n.vpcc
#     expire_in: 1 week


image: ultravideo/uvgvpccenc-ci-base

stages:
  - build
  - test-default
  - test-slicing
  - test-v3crtp

# Build uvgVPCCenc
build:
  stage: build
  script:
    - export PATH="${HOME}/bin:${PATH}"
    - cmake --preset=CI
    - cmake --build --preset=CI
  artifacts:
    paths:
      - _build/CI/src/app/uvgVPCCenc
    expire_in: 1 week

# Test building uvgVPCCenc with v3c rtp integration
build-v3crtp:
  stage: build
  script:
    - export PATH="${HOME}/bin:${PATH}"
    - cmake --preset=CI -DENABLE_V3CRTP=ON
    - cmake --build --preset=CI
  artifacts:
    paths:
      - _build/CI/src/app/uvgVPCCenc
    expire_in: 1 week

# Test building uvgVPCCenc with v3c rtp integration
build-ffmpeg:
  stage: build
  script:
    - apt-get update && apt-get install -y ffmpeg libavcodec-dev libavformat-dev libavutil-dev
    - export PATH="${HOME}/bin:${PATH}"
    - cmake --preset=CI -DENABLE_FFMPEG=ON
    - cmake --build --preset=CI
  artifacts:
    paths:
      - _build/CI/src/app/uvgVPCCenc
    expire_in: 1 week

# Test long default
test-long-default:
  stage: test-default
  script:
    - export PATH="${HOME}/bin:${PATH}"
    - cmake --preset=CI
    - cmake --build --preset=CI
    - ctest --preset=CI-ci-long-default
  dependencies:
    - build
  needs:
    - build
  artifacts:
    paths:
      - _build/CI/Testing/Temporary/CTestCostData.txt
      - _build/CI/Testing/Temporary/LastTest.log
      - _build/CI/bitstream/long_default_ReadyForWinter_vox9_AI_16-22-2_fast_true_2t_1l_1n.vpcc
      - _build/CI/bitstream/long_default_ReadyForWinter_vox9_RA_32-42-4_slow_true_2t_1l_1n.vpcc
    expire_in: 1 week

# Test long slicing
test-long-slicing:
  stage: test-slicing
  script:
    - export PATH="${HOME}/bin:${PATH}"
    - cmake --preset=CI
    - cmake --build --preset=CI
    - ctest --preset=CI-ci-long-slicing
  dependencies:
    - build
  needs:
    - build
    - test-long-default
  artifacts:
    paths:
      - _build/CI/Testing/Temporary/CTestCostData.txt
      - _build/CI/Testing/Temporary/LastTest.log
      - _build/CI/bitstream/long_slicing_ReadyForWinter_vox9_AI_16-22-2_fast_true_2t_1l_1n.vpcc
      - _build/CI/bitstream/long_slicing_ReadyForWinter_vox9_RA_32-42-4_slow_true_2t_1l_1n.vpcc
    expire_in: 1 week

# Test v3c rtp integration
test-v3crtp-CI:
  stage: test-v3crtp
  script:
    - export PATH="${HOME}/bin:${PATH}"
    - cmake --preset=CI -DENABLE_V3CRTP=ON
    - cmake --build --preset=CI
    - ctest --preset=CI-ci-v3crtp
  dependencies:
    - build-v3crtp
  needs:
    - build-v3crtp
  artifacts:
    paths:
      - _build/CI/Testing/Temporary/CTestCostData.txt
      - _build/CI/Testing/Temporary/LastTest.log
      - _build/CI/bitstream/long_slicing_ReadyForWinter_vox9_AI_16-22-2_fast_true_2t_1l_1n.vpcc
      - _build/CI/bitstream/long_slicing_ReadyForWinter_vox9_RA_32-42-4_slow_true_2t_1l_1n.vpcc
    expire_in: 1 week

# Test v3c rtp integration
test-v3crtp-Debug:
  stage: test-v3crtp
  script:
    - export PATH="${HOME}/bin:${PATH}"
    - cmake --preset=Debug -DENABLE_V3CRTP=ON
    - cmake --build --preset=Debug
    - ctest --preset=Debug-ci-v3crtp
  dependencies:
    - build-v3crtp
  needs:
    - build-v3crtp
  when: manual
  artifacts:
    paths:
      - _build/Debug/Testing/Temporary/CTestCostData.txt
      - _build/Debug/Testing/Temporary/LastTest.log
      - _build/Debug/bitstream/long_slicing_ReadyForWinter_vox9_AI_16-22-2_fast_true_2t_1l_1n.vpcc
      - _build/Debug/bitstream/long_slicing_ReadyForWinter_vox9_RA_32-42-4_slow_true_2t_1l_1n.vpcc
    expire_in: 1 week
    